<div class="page-header d-print-none">
	<div class="container-xl">
		<div class="row g-2 align-items-center">
			<div
				class="col">
				<!-- Page pre-title -->
				<div class="page-pretitle">
					Administración
				</div>
				<h2 class="page-title">
					CICS-UST
				</h2>
			</div>
			<!-- Page title actions -->
			<div class="col-auto ms-auto d-print-none">
				<div class="btn-list">
					<a
						href="#" class="btn btn-primary d-none d-sm-inline-block" style="background-color:#6b1d47;" data-bs-toggle="modal" data-bs-target="#modal-report">
						<!-- Download SVG icon from http://tabler-icons.io/i/plus -->
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon">
							<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
							<path d="M12 5l0 14"></path>
							<path d="M5 12l14 0"></path>
						</svg>
						Añadir seminario
					</a>
					<a
						href="#" class="btn btn-primary d-sm-none btn-icon" data-bs-toggle="modal" data-bs-target="#modal-report" aria-label="Create new report">
						<!-- Download SVG icon from http://tabler-icons.io/i/plus -->
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon">
							<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
							<path d="M12 5l0 14"></path>
							<path d="M5 12l14 0"></path>
						</svg>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="page-body">
	<div class="container-xl">
		<div class="row row-deck row-cards">
			<div class="col-7">
				<div class="card"></div>
			</div>
			<div class="col-5">
				<div class="card">
					<div class="card-body">
						<h3 class="card-title">
							Selección de plantilla
						</h3>
						<p class="text-secondary">Seleccione la plantilla que más le guste y llene los datos solicitados para su
							              publicación.</p>
					</div>
					<div class="row">
						<div class="col-4">
							<label class="form-imagecheck mb-2">
								<input type="radio" name="form-imagecheck-radio" value="1" class="form-imagecheck-input">
								<span class="form-imagecheck-figure">
									<img src="/images/plantillas/Plantilla1.svg" alt="Plantilla 1" class="form-imagecheck-image">
								</span>
							</label>
						</div>
						<div class="col-4">
							<label class="form-imagecheck mb-2">
								<input type="radio" name="form-imagecheck-radio" value="2" class="form-imagecheck-input">
								<span class="form-imagecheck-figure">
									<img src="/images/plantillas/Plantilla2.svg" alt="Plantilla 2" class="form-imagecheck-image">
								</span>
							</label>
						</div>

						<div class="col-4">
							<label class="form-imagecheck mb-2">
								<input type="radio" name="form-imagecheck-radio" value="3" class="form-imagecheck-input">
								<span class="form-imagecheck-figure">
									<img src="/images/plantillas/Plantilla3.svg" alt="Plantilla 3" class="form-imagecheck-image">
								</span>
							</label>
						</div>
					</div>
					<div class="row">
						<div class="mb-3">
							<label for="nombre" class="form-label">Nombre</label>
							<input type="text" name="nombre" placeholder="Nombre del seminario" class="form-control">
						</div>
						<div class="mb-3">
							<label for="description" class="form-label">Descripción del seminario</label>
							<textarea name="description" placeholder="Ingresa una pequeña descripción." class="form-control" maxlength="255"></textarea>
						</div>
						<div class="mb-3">
							<label for="" class="form-label">Fecha de Inicio</label>
							<div class="row g-2">
								<div class="col-5">
									<select name="user[month]" class="form-select">
										<option disabled selected>Mes</option>
										<option value="1">Enero</option>
										<option value="2">Febrero</option>
										<option value="3">Marzo</option>
										<option value="4">Abril</option>
										<option value="5">Mayo</option>
										<option value="6">Junio</option>
										<option value="7">Julio</option>
										<option value="8">Agosto</option>
										<option value="9">Septiembre</option>
										<option value="10">Octubre</option>
										<option value="11">Noviembre</option>
										<option value="12">Diciembre</option>
									</select>
								</div>
								<div class="col-3">
									<select name="user[dia]" id="" class="form-select">
										<option value="" disabled="disabled" selected="selected">Día</option>
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
										<option value="7">7</option>
										<option value="8">8</option>
										<option value="9">9</option>
										<option value="10">10</option>
										<option value="11">11</option>
										<option value="12">12</option>
										<option value="13">13</option>
										<option value="14">14</option>
										<option value="15">15</option>
										<option value="16">16</option>
										<option value="17">17</option>
										<option value="18">18</option>
										<option value="19">19</option>
										<option value="20">20</option>
										<option value="21">21</option>
										<option value="22">22</option>
										<option value="23">23</option>
										<option value="24">24</option>
										<option value="25">25</option>
										<option value="26">26</option>
										<option value="27">27</option>
										<option value="28">28</option>
										<option value="29">29</option>
										<option value="30">30</option>
										<option value="31">31</option>
									</select>
								</div>
								<div class="col-4">
									<select name="user[dia]" id="" class="form-select">
										<option value="" disabled="disabled" selected="selected">Año</option>
										<option value="1">2024</option>
										<option value="2">2025</option>
									</select>


								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
